.just-do {

  &__title {
    max-width: 1050px;
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 175px;
  }

  &__list {
    margin-bottom: 143px;
  }

  &__item {
    max-width: 450px;
  }

  &__hexagon{
    margin-right: 15px;
  }

  &__item-wrapper {
    display: flex;
    margin-bottom: 30px;
  }

  &__image {
    position: absolute;
    top: -5%;
    right: -2%;
  }
}
