.solution {
  position: relative;

  &__container {
    padding-top: 160px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 145px;
  }

  &__hexagon {
    margin-right: 30px;
  }

  &__slider-container {
    position: relative;
  }

  &__inner {
    z-index: 2;
    display: flex;
    width: 1250px;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 245px;

    .just-do__list {
      margin-bottom: 0;
    }
  }

  #solution-second {
    .solution__inner {
      margin-bottom: 200px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text-inner {
    margin-bottom: 40px;
    max-width: 580px;
  }

  &__subtitle {
    padding-bottom: 55px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__item-wrapper {
    margin-bottom: 25px;

    .just-do__item {
      max-width: none;
    }
  }

  &__image-wrapper {
    position: relative;
    img {
      position: absolute;
    }

    .solution {
      &__notebook {
        top: 5%;
        right: -15%;
      }
      &__cards {
        bottom: -40px;
      }
      &__vine {
        width: 390px;
        top: 0;
      }
      &__cup {
        width: 500px;
        top: 20px;
        right: -45px;
      }
      &__pen-book {
        width: 500px;
        right: -15px;
        top: 10%;
      }
      &__bags {
        width: 600px;
        top: -16%;
        right: -10%;
      }
      &__bag {
        width: 550px;
        top: 0;
        right: -10%;
      }
      &__powerbank {
        width: 630px;
        top: 12%;
        right: -20%;
      }
      &__bag-tnt {
        width: 650px;
        top: -5%;
        right: -24%;
      }
      &__tea-box {
        width: 500px;
        top: -1%;
        right: -10%;
      }
      &__candle {
        width: 450px;
        top: 10%;
        right: 5%;
      }
      &__wood {
        width: 420px;
        top: 35%;
        right: 2%;
      }
    }
  }

  &__square {
    width: 435px;
    height: 390px;
  }

  @include arrow;

  &__arrow-left {
    top: 30%;
    z-index: 5;
    left: 6.5%;
    transform: rotate(180deg) translateY(50%);
  }

  &__arrow-right {
    top: 30%;
    z-index: 5;
    right: 6.5%;
  }

  &__inner--last {
    margin-bottom: 0;
    padding-bottom: 137px;
  }

  &__box,
  &__card {
    position: absolute;
  }

  &__box {
    top: 29%;
    left: -17%;
    transform: rotate(33deg) !important;

    img {
      width: 40vw;
    }
  }

  &__card {
    top: 62%;
    right: -26%;
    transform: rotate(-22deg) !important;

    img {
      width: 40vw;
    }
  }

  &__slide {
    transition: $transition;
  }

  &__btn {
    transition: $transition;

    &:hover {
      background-color: $semi-blue !important;
    }
  }
}

@media (max-width: 1440px) {
  .solution {
    &__container {
      padding-top: 120px;
    }

    &__title-wrapper {
      margin-bottom: 110px;
    }

    &__text-wrapper {
      max-width: 430px;
    }

    &__text-inner {
      margin-bottom: 15px;
    }

    &__subtitle {
      padding-bottom: 35px;
    }

    &__inner {
      width: 1000px;
      margin-bottom: 180px;

      &--last {
        padding-bottom: 0;

        margin-bottom: 100px;
      }
    }

    &__square {
      width: 330px;
      height: 295px;
    }

    & #solution-second .solution__inner {
      margin-bottom: 160px;
    }

    &__image-wrapper {
      position: relative;
      img {
        position: absolute;
      }

      .solution {
        &__notebook {
          width: 30vw;
        }
        &__cards {
          width: 25vw;
        }
        &__vine {
          width: 22vw;
        }
        &__cup {
          width: 28vw;
          top: 10px;
          right: -35px;
        }
        &__pen-book {
          width: 28vw;
        }
        &__bags {
          width: 32vw;
          top: -10%;
          right: -10%;
        }
        &__bag {
          width: 29vw;
        }
        &__powerbank {
          width: 32vw;
        }
        &__bag-tnt {
          width: 32vw;
        }
        &__tea-box {
          width: 26vw;
          top: -1%;
          right: -10%;
        }
        &__candle {
          width: 25vw;
        }
        &__wood {
          width: 22vw;
          top: 30%;
          right: 2%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .solution {
    &__container {
      padding-top: 56px;
    }

    &__title-wrapper {
      align-items: baseline;
      margin-bottom: 75px;
    }

    &__inner {
      width: auto;
      padding: 0 45px;
    }

    &__subtitle {
      padding-bottom: 20px;
    }

    &__text {
      margin-bottom: 6px;
    }

    .just-do__hexagon {
      margin-right: 5px;
    }

    .just-do__list {
      margin-bottom: 7px;
    }

    &__square {
      width: 195px;
      height: 175px;
    }

    &__arrow-left,
    &__arrow-right {
      background-size: contain;
      width: 25px;
      height: 30px;
    }

    &__hexagon {
      margin-right: 20px;
    }

    &__arrow-left {
      left: 0%;
    }

    &__arrow-right {
      right: 0%;
    }

    &__text {
      font-size: 16px;
    }

    &__inner {
      margin-bottom: 110px;
    }

    #solution-second {
      .solution {
        &__inner {
          margin-bottom: 90px;
        }
      }
    }

    &__item-wrapper {
      font-size: 11px;
      margin-bottom: 6px;
    }

    .hexagon--small {
      width: 13px;
      height: 13px;

      .hexagon,
      .hexagon:after,
      .hexagon:before {
        border-radius: 1px;
      }
    }

    &__card {
      top: auto;
      bottom: -106%;
    }
  }
}

@media (max-width: 600px) {
  .solution {
    &__container {
      padding-top: 35px;
    }

    &__inner {
      flex-direction: column;
      padding: 20px 10px;
      margin-bottom: 200px;
      justify-content: space-between;
      height: 370px;
    }

    #solution-second {
      .solution__inner {
        margin-bottom: 200px;
      }
    }

    &__text-wrapper {
      padding: 0 46px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 29px;
    }

    &__title-wrapper {
      margin-bottom: 20px;
      align-items: flex-end;
    }

    &__hexagon {
      margin-right: 10px;

      .hexagon {
        background-color: $blue;
      }
    }

    &__text,
    &__item-wrapper {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    .just-do__list {
      margin: 0;
    }

    &__slider-container {
      @include bgFrame;
      margin-bottom: 20px;
    }

    &__text-inner {
      margin-bottom: 0px;
    }

    &__square {
      border-radius: 23px;
      width: 100%;
      height: 39vw;
    }

    &__slide {
      width: 100%;
    }

    &__btn {
      position: absolute;
      bottom: -180px;
      left: 10px;
      height: 55px;
      width: calc(100% - 20px);
      font-size: 24px;
      line-height: 29px;
      border-radius: 43px;
    }

    &__arrow-left,
    &__arrow-right {
      width: 52px;
      height: 58px;
      top: 75%;
    }

    &__arrow-left {
      left: 27vw;
    }
    &__arrow-right {
      right: 27vw;
    }

    &__image-wrapper {
      img {
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw !important;
      }

      .solution {
        &__cup {
          width: 55vw !important;
        }
        &__cards,
        &__vine,
        &__wood {
          width: 70vw !important;
        }
        &__tea-box {
          width: 50vw !important;
        }
        &__candle {
          width: 65vw!important;
          top: 40%!important;
        }
      }
    }

    &__box {
      display: none;
    }

    &__card {
      bottom: -43%;
      right: -55%;
      z-index: 2;

      img {
        width: 80vw;
      }
    }
  }
}
