.solution {
  position: relative;

  &__container {
    padding-top: 200px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 145px;
  }

  &__hexagon {
    margin-right: 30px;
  }

  &__inner {
    z-index: 2;
    display: flex;
    width: 1250px;
    margin: 0 auto;
    padding: 0 100px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 245px;

    .just-do__list {
      margin-bottom: 0;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text-inner {
    margin-bottom: 45px;
    max-width: 580px;
  }

  &__subtitle {
    padding-bottom: 55px;
  }

  &__text {
    margin-bottom: 15px;
  }

  &__item-wrapper {
    margin-bottom: 25px;

    .just-do__item {
      max-width: none;
    }
  }

  &__image-wrapper {
    position: relative;
    img {
      position: absolute;
    }

    .solution__notebook {
      top: 5%;
      right: -15%;
    }

    .solution__cards {
      bottom: -40px;
    }

    .solution__vine {
      width: 390px;
      top: -25px;
    }
  }

  &__square {
    width: 435px;
    height: 390px;
  }

  @include arrow;

  &__arrow-left {
    left: 0;
    transform: rotate(180deg) translateY(50%);
  }

  &__arrow-right {
    right: 0;
  }

  &__inner--last {
    margin-bottom: 0;
    padding-bottom: 137px;
  }

  &__box,
  &__card {
    position: absolute;
  }

  &__box {
    top: 29%;
    left: -5%;
    width: 27vw;
  }

  &__card {
    top: 62%;
    right: -26%;
    width: 45vw;
  }
}
