.work {
  position: relative;

  &__container {
    padding-top: 93px;
    padding-bottom: 100px;
  }

  &__list {
    max-width: 1130px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(-90deg);
    color: #fff;
  }

  &__scotch {
    position: absolute;
    top: 0%;
    right: -11%;

    img {
      width: 72vw;
    }
  }
}

@media (max-width: 1440px) {
  .work {
    &__container {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__list {
      max-width: 730px;
    }

    &__item {
      margin-left: -50px;
      margin-bottom: 40px;
    }
  }
}