.work {
  position: relative;

  &__container {
    padding-top: 93px;
    padding-bottom: 100px;
  }

  &__item-wrapper {
    margin-right: 30px;
  }

  &__list {
    max-width: 1130px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
  }

  &__number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(-90deg);
    color: #fff;
  }

  &__scotch {
    position: absolute;
    top: 15%;
    right: -11%;

    img {
      width: 72vw;
    }
  }
}

@media (max-width: 1440px) {
  .work {
    &__container {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    &__list {
      max-width: 730px;
    }

    &__item {
      margin-left: -50px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .work {
    &__container {
      padding-top: 50px;
      padding-bottom: 15px;
    }

    &__title-wrapper {
      margin-bottom: 50px;
    }

    &__list {
      max-width: 420px;
      margin: 0 auto;
    }

    &__item {
      margin-left: 0;
      display: block;
      text-align: center;
      margin-bottom: 34px;
    }

    &__hexagon-inner {
      margin-right: 20px;
    }

    .solution__hexagon {
      margin-right: 0;
      margin-bottom: 14px;
    }

    &__scotch {
      display: none;
    }

    &__number {
      font-size: 27px;
      line-height: 27px;
    }
  }
}

@media (max-width: 600px) {
  .work {
    &__list {
      @include bgFrame;
      padding: 20px 25px;
    }

    &__container {
      padding-top: 0;
    }

    .solution {
      &__title-wrapper {
        align-items: flex-start;
      }

      &__hexagon {
        margin-top: 6px;
      }
    }

    &__hexagon-inner {
      margin-right: 10px;
    }

    &__item {
      margin-bottom: 25px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
    }

    &__number {
      font-size: 20px;
      line-height: 20px;
    }

    .hexagon--arrow {
      width: 36px;
      height: 36px;
      margin-bottom: 10px;
    }
  }
}
