.finished-solutions {
  &__container {
    padding-top: 190px;
    padding-bottom: 90px;
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }

  &__inner {
    position: relative;
    margin-bottom: 60px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__cup,
  &__bag,
  &__blocks,
  &__recepts,
  &__cards,
  &__vine,
  &__powerbank,
  &__candle,
  &__wood,
  &__school-bag,
  &__pen-book,
  &__bag-tnt,
  &__tea-box {
    position: absolute;
  }

  &__cup {
    bottom: 0;
    left: -15px;
    width: 370px;
  }
  &__bag {
    width: 620px;
    top: -100px;
    left: -50px;
  }
  &__blocks {
    top: -30px;
    right: -4%;
  }
  &__recepts {
    width: 370px;
    left: -3%;
    top: -45px;
  }
  &__cards {
    width: 310px;
    bottom: -40px;
    right: -20px;
  }
  &__powerbank {
    left: 30px;
    width: 530px;
    bottom: 20px;
  }
  &__candle {
    right: 15px;
    width: 460px;
    top: -40px;
  }
  &__vine {
    width: 330px;
    right: -20px;
    bottom: -30px;
  }
  &__wood {
    bottom: 0;
    width: 311px;
  }
  &__school-bag {
    top: -60%;
    left: -5%;
    width: 670px;
  }
  &__pen-book {
    width: 340px;
    top: -5%;
    right: 5%;
  }
  &__bag-tnt {
    width: 580px;
    top: -20%;
    left: 0;
  }
  &__tea-box {
    width: 400px;
    top: -10%;
    right: 12%;
  }

  &__slide {
    cursor: pointer;

    &--small {
      width: calc(25% - 30px);
    }
    &--big {
      width: calc(50% - 30px);
    }
  }

  &__slider-text {
    position: absolute;

    span {
      display: inline-block;
    }

    &--top {
      width: 150px;
      top: 15px;
      left: 15px;

      span {
        padding-top: 15px;
      }
    }

    &--bottom {
      width: 320px;
      bottom: 15px;
      right: 15px;
      text-align: right;

      span {
        padding-bottom: 15px;
      }
    }
  }

  &__square {
    height: 300px;
    position: relative;

    &--small {
      width: 323px;
    }

    &--big {
      width: calc(100% - 25px);
    }
  }

  @include arrow;

  &__arrow-left,
  &__arrow-right {
    top: 30px;
  }

  &__arrow-left {
    right: 100px;
    transform: rotate(180deg) translateY(50%);

    &.swiper-button-disabled {
      background-image: url("./assets/images/hexagon/hexagon_arrow_right_light.png");
    }
  }

  &__arrow-right {
    right: 0;

    &.swiper-button-disabled {
      background-image: url("./assets/images/hexagon/hexagon_arrow_right_light.png");
    }
  }
}

@media (max-width: 1440px) {
  .finished-solutions {
    &__container {
      padding-top: 140px;
    }

    &__square {
      height: 220px;
      position: relative;

      &--small {
        width: 100%;
      }

      &--big {
        width: 100%;
      }
    }

    &__cup {
      left: -5%;
      width: 19.5vw;
    }
    &__bag {
      width: 33vw;
      top: -32%;
      left: -10%;
    }
    &__blocks {
      top: -10%;
      width: 20vw;
    }
    &__recepts {
      width: 20vw;
      left: -4%;
      top: -24%;
    }
    &__cards {
      width: 18vw;
      bottom: -18%;
      right: -6%;
    }
    &__powerbank {
      left: 5%;
      width: 30vw;
      bottom: 6%;
    }
    &__candle {
      right: 4%;
      width: 26vw;
      top: -20%;
    }
    &__vine {
      width: 20vw;
      right: -10%;
      bottom: -15%;
    }
    &__wood {
      right: 0;
      width: 16vw;
    }
    &__school-bag {
      top: -65%;
      left: -5%;
      width: 35vw;
    }
    &__pen-book {
      width: 18vw;
    }
    &__bag-tnt {
      width: 30vw;
    }
    &__tea-box {
      width: 20vw;
    }
  }
}

@media (max-width: 1024px) {
  .finished-solutions {
    &__square {
      height: 145px;
    }

    &__container {
      padding-top: 50px;
      padding-bottom: 0;
    }

    &__slider-wrapper {
      padding: 30px 0;
    }

    &__slider-text {
      font-size: 12px;
      line-height: 13px;

      &--bottom {
        width: 160px;
      }
    }

    &__slide {
      &--small {
        width: calc(34% - 25px);

        &.tablet--big {
          width: calc(66% - 25px);

          .finished-solutions {
            &__cards {
              width: 25vw;
              right: 5%;
            }

            &__wood {
              width: 30vw;
            }
          }
        }
      }
      &--big {
        width: calc(66% - 25px);
      }
    }

    &__cup {
      top: 15%;
      left: -2%;
      width: 23vw;
    }
    &__bag {
      width: 35vw;
      top: -23%;
      left: 2%;
    }
    &__blocks {
      top: -10%;
      left: 0;
      width: 22vw;
    }
    &__recepts {
      width: 23vw;
    }
    &__cards {
      width: 18vw;
      bottom: -18%;
      right: -6%;
    }
    &__powerbank {
      left: 5%;
      width: 30vw;
      bottom: 6%;
    }
    &__candle {
      width: 33vw;
      top: -22%;
    }
    &__vine {
      right: 0%;
    }
    &__wood {
      right: 0;
      width: 16vw;
    }
    &__school-bag {
      width: 44vw;
    }
    &__pen-book {
      width: 27vw;
      left: 10%;
      top: -5%;
    }
    &__bag-tnt {
      width: 40vw;
      left: -5%;
    }
    &__tea-box {
      width: 26vw;
    }

    &__arrow-left,
    &__arrow-right {
      width: 30px;
      height: 30px;
      background-size: contain;
    }

    &__arrow-left {
      right: 50px;
    }
  }
}

@media (max-width: 600px) {
  .finished-solutions {
    &__slide {
      @include bgFrame;
      border-radius: 19px;
    }

    &__container {
      padding-top: 25px;
    }

    .principles__title-wrapper {
      align-items: flex-start;
      margin-bottom: 25px;
    }

    &__inner {
      padding-bottom: 60px;
    }

    .hexagon-wrapper {
      margin-top: 6px;
    }

    &__slide {
      display: flex;
      justify-content: center;

      &--small {
        width: 48%;

        &.tablet--big {
          width: 48%;
        }
      }

      &--big {
        width: 48%;
      }
    }

    &__square {
      width: calc(100% - 10px);
      border-radius: 15px;
      margin-top: 5px;
      margin-bottom: 100px;
      height: 42vw;
    }

    &__subtitle {
      color: $black;
      padding-left: 40px;
      margin-bottom: 0;
    }

    &__slider-text {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #434242;
      top: auto;
      bottom: -75px;
      left: 0;
      width: calc(100% - 5px);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 56px;

      br {
        display: none;
      }

      span {
        position: absolute;
        bottom: -5px;
        padding: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
      }
    }

    &__slider-wrapper {
      padding: 15px 0 0 0;
    }

    &__cup,
    &__bag,
    &__blocks,
    &__recepts,
    &__cards,
    &__vine,
    &__powerbank,
    &__candle,
    &__wood,
    &__school-bag,
    &__pen-book,
    &__bag-tnt,
    &__tea-box {
      width: 50vw !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__cards,
    &__wood {
      width: 40vw !important;
    }

    &__arrow-left,
    &__arrow-right {
      width: 52px;
      height: 58px;
      top: 100%;
    }

    &__arrow-left {
      left: 27vw;
    }
    &__arrow-right {
      right: 27vw;
    }
  }
}
