.finished-solutions {
  &__container {
    padding-top: 190px;
    padding-bottom: 90px;
  }

  &__slider-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }

  &__inner {
    position: relative;
    margin-bottom: 60px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__cup,
  &__bag,
  &__blocks,
  &__recepts,
  &__cards,
  &__vine,
  &__powerbank,
  &__candle,
  &__wood,
  &__school-bag,
  &__pen-book,
  &__bag-tnt,
  &__tea-box {
    position: absolute;
  }

  &__cup {
    bottom: 0;
    left: -15px;
    width: 370px;
  }
  &__bag {
    width: 620px;
    top: -100px;
    left: -50px;
  }
  &__blocks {
    top: -30px;
    right: -4%;
  }
  &__recepts {
    width: 370px;
    left: -3%;
    top: -45px;
  }
  &__cards {
    width: 310px;
    bottom: -40px;
    right: -20px;
  }
  &__powerbank {
    left: 30px;
    width: 530px;
    bottom: 20px;
  }
  &__candle {
    right: 15px;
    width: 460px;
    top: -40px;
  }
  &__vine {
    width: 330px;
    right: -20px;
    bottom: -30px;
  }
  &__wood {
    bottom: 0;
    width: 311px;
  }
  &__school-bag {
    top: -60%;
    left: -5%;
    width: 670px;
  }
  &__pen-book {
    width: 340px;
    top: -5%;
    right: 5%;
  }
  &__bag-tnt {
    width: 580px;
    top: -20%;
    left: 0;
  }
  &__tea-box {
    width: 400px;
    top: -10%;
    right: 12%;
  }

  &__slide {
    cursor: pointer;
  }

  &__slider-text {
    position: absolute;

    span {
      display: inline-block;
    }

    &--top {
      width: 150px;
      top: 15px;
      left: 15px;

      span {
        padding-top: 15px;
      }
    }

    &--bottom {
      width: 320px;
      bottom: 15px;
      right: 15px;
      text-align: right;

      span {
        padding-bottom: 15px;
      }
    }
  }

  &__square {
    height: 300px;
    position: relative;

    &--small {
      width: 323px;
    }

    &--big {
      width: 646px;
    }
  }

  @include arrow;

  &__arrow-left,
  &__arrow-right {
    top: 30px;
  }

  &__arrow-left {
    right: 100px;
    transform: rotate(180deg) translateY(50%);
  }

  &__arrow-right {
    right: 0;
  }
}

@media (max-width: 1440px) {
  .finished-solutions {
    &__container {
      padding-top: 140px;
    }

    &__square {
      height: 220px;
      position: relative;

      &--small {
        width: 245px;
      }

      &--big {
        width: 490px;
      }
    }

    &__cup {
      left: -5%;
      width: 19.5vw;
    }
    &__bag {
      width: 33vw;
      top: -32%;
      left: -10%;
    }
    &__blocks {
      top: -10%;
      width: 20vw;
    }
    &__recepts {
      width:20vw;
      left: -4%;
      top: -24%;
    }
    &__cards {
      width: 18vw;
      bottom: -18%;
      right: -6%;
    }
    &__powerbank {
      left: 5%;
      width: 30vw;
      bottom: 6%;
    }
    &__candle {
      right: 4%;
      width: 26vw;
      top: -20%
    }
    &__vine {
      width: 20vw;
      right: -10%;
      bottom: -15%;
    }
    &__wood {
      right: 0;
      width: 16vw;
    }
    &__school-bag {
      top: -65%;
      left: -5%;
      width: 35vw;
    }
    &__pen-book {
      width: 18vw;
    }
    &__bag-tnt {
      width: 30vw;
    }
    &__tea-box {
      width: 20vw;
    }
  }
}
