.start-project {
  background-color: $grey;
  position: relative;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    padding-top: 107px;
    padding-bottom: 130px;
  }

  &__number {
    transform: translate(-15%, -95%) rotate(-90deg);
  }

  &__title-wrapper {
    display: flex;
  }

  &__text {
    max-width: 640px;
    line-height: 94px;
  }

  &__text-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form {
    color: #94959a;
    width: 490px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    input[type="email"],
    input[type="number"] {
      margin-top: 8px;
      margin-bottom: 20px;
      width: 490px;
      height: 43px;
      border: 1px solid #94959a;
      color: #94959a;
      font-size: 22px;
      padding-left: 20px;

      &#email {
        margin-bottom: 10px;
      }

      &::placeholder {
        color: #c4c4c4;
      }

      &[type="date"] {
        color: $black;
      }
    }

    input[type="date"] {
      position: relative;

      background: url("./assets/icons/calendar.svg") no-repeat 97% 50%;

      cursor: pointer;
    }

    ::-webkit-datetime-edit {
    }
    ::-webkit-datetime-edit-fields-wrapper {
    }
    ::-webkit-datetime-edit-month-field:hover,
    ::-webkit-datetime-edit-day-field:hover,
    ::-webkit-datetime-edit-year-field:hover {
      background: rgba(0, 120, 250, 0.1);
    }
    ::-webkit-datetime-edit-text {
      opacity: 0;
    }
    ::-webkit-clear-button,
    ::-webkit-inner-spin-button {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      position: absolute;
      width: 2.5rem;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;

      opacity: 0;
      cursor: pointer;

      color: rgba(0, 120, 250, 1);
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 30px;
    transition: $transition;

    &:hover {
      color: $blue;
    }
  }

  &__btn {
    width: 100%;
  }

  &__studio {
    position: absolute;
    top: -10%;
    right: -5%;
    transform: rotate(-40deg) !important;

    img {
      width: 25vw;
    }
  }
}

.form_button {
  width: 100%;
  font-size: 22px;
  height: 43px;
  background: #89acd2;
  border-radius: 20px;
  color: #fff;
  transition: all 0.5s ease;

  &:hover {
    background: #d0deed;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .start-project {
    &__hexagon {
      img {
        width: 2.2vw;
      }
    }

    &__container {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    &__text {
      line-height: 70px;
      max-width: 480px;
    }

    input {
      width: 375px;
      height: 32px;
      margin-top: 6px;
      font-size: 16px;
      padding-left: 15px;
    }

    &__studio {
      top: -10%;
      right: -8%;
    }
  }
}

@media (max-width: 1024px) {
  .start-project {
    &__hexagon {
      img {
        width: 23px;
      }
    }

    &__container {
      padding-bottom: 85px;
    }

    &__inner {
      flex-direction: column-reverse;
    }

    &__form,
    &__text-inner {
      margin: 0 auto;
    }

    &__form {
      margin-bottom: 50px;
    }

    &__text-inner {
      text-align: center;
    }

    &__text {
      margin-bottom: 50px;
      max-width: none;
    }

    &__btn {
      height: 43px;
      border-radius: 28px;
      font-size: 24px;
      line-height: 29px;
    }

    &__studio {
      top: -5%;
      right: -5%;

      img {
        width: 35vw;
      }
    }
  }
}

@media (max-width: 600px) {
  .start-project {
    background-color: #fff;

    &__container {
      padding-top: 0;
      padding-bottom: 20px;
    }

    .principles__title-wrapper {
      align-items: flex-start;
    }

    .solution__hexagon {
      margin-top: 6px;

      img {
        width: 15px;
      }
    }

    &__form {
      @include bgFrame;
      width: 100%;
      padding: 20px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        width: calc(100% - 20px);
      }

      input[type="text"],
      input[type="date"],
      input[type="tel"],
      input[type="email"],
      input[type="number"] {
        font-size: 15px;
        line-height: 15px;
        width: 100%;
        height: 30px;
        border-radius: 200px;
        padding-left: 10px;
        margin-bottom: 17px;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 29px;
    }

    &__text-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 230px;
    }

    &__link {
      margin-bottom: 10px;
    }

    &__btn {
      width: calc(100% - 20px);
      height: 55px;
    }

    &__studio {
      z-index: 2;
      top: 0%;
      right: -15%;

      img {
        width: 37vw;
      }
    }
  }
}
