@font-face {
  font-family: "Muller";
  src: url("assets/fonts/MullerBold.eot");
  src: local("☺"), url("assets/fonts/MullerBold.woff") format("woff"),
    url("assets/fonts/MullerBold.ttf") format("truetype"), url("assets/fonts/MullerBold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("assets/fonts/MullerMedium.eot");
  src: local("☺"), url("assets/fonts/MullerMedium.woff") format("woff"),
    url("assets/fonts/MullerMedium.ttf") format("truetype"), url("assets/fonts/MullerMedium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("assets/fonts/MullerRegular.eot");
  src: local("☺"), url("assets/fonts/MullerRegular.woff") format("woff"),
    url("assets/fonts/MullerRegular.ttf") format("truetype"), url("assets/fonts/MullerRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExtended";
  src: url("assets/fonts/RFDewiExtendedUltrabold.eot");
  src: local("☺"), url("assets/fonts/RFDewiExtendedUltrabold.woff") format("woff"),
    url("assets/fonts/RFDewiExtendedUltrabold.ttf") format("truetype"),
    url("assets/fonts/RFDewiExtendedUltrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
