.footer {
  position: relative;
  z-index: 2;
  background: $blue;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    padding-bottom: 25px;
  }

  &__menu {
    display: flex;

    a {
      transition: $transition;
    }

    a:hover {
      color: $black;
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    svg {
      width: 50px;
    }

    &__container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
