.footer {
  position: relative;
  z-index: 2;
  background: $blue;

  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    padding-bottom: 25px;
  }

  &__menu {
    display: flex;

    a {
      transition: $transition;
    }

    a:hover {
      color: $black;
    }
  }
}

@media (max-width: 1440px) {
  .footer {
    svg {
      width: 50px;
    }

    &__container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    svg {
      width: 36px;
    }

    &__container {
      justify-content: flex-end;
    }

    &__menu {
      top: -32px;
      display: none;

      a {
        color: $blue;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    background-color: #fff;

    &__container {
      padding: 0;
      justify-content: center;
    }

    svg {
      width: 50px;
    }

    .hover {
      &--blue {
        fill: $blue;
      }

      &--white {
        fill: #fff;
      }

      &--blue-stroke {
        stroke: $blue;
      }

      &--white-stroke {
        stroke: #fff;
      }
    }

    .socials {
      justify-content: space-between;
      width: 200px;

      &__item {
        margin: 0;
      }
    }
  }
}